#container{
    display: flex;
    flex-direction:row;
}

#first_col{
    display: flex;
    height:100%;
    flex-direction: column;
}

#app-paper-list{
    width: 100%;
    flex:1;
}

#app-author-list{
    width: 100%;
    flex:1;
}

#second_col{
    display: flex;
    height:100%;
    flex-direction: column;
}

#topic-viewer{
    width: 100%;
    flex: 2;
}

#scatterplot{
    width:100%;
    flex:2;
}

ul
{
    list-style: none;
}