#container{
    /* width:600px; */
    height: 1100px;
    /* display: flex;
    flex-direction: row; */
    overflow-x: overlay;
    flex-wrap: wrap;
    margin:10px;
}

.card{
    margin-bottom:10px;
    padding: 2px;
}

ul{
    list-style: none;
}