.tooltip{
    display:flex;
    flex-direction: column;
    margin: 5px;
    width: 183px;
    position: relative;
}

button{
    float: right;
    z-index: 10;
    position: relative;
}

mat-card{
    margin:10px;
    overflow: hidden;
    height: 569px;
}